<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlgorithmPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LXY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>leetcode-candy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>leetcode-count-primes #204.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>leetcode-decode_ways #91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A52F79731A9F05A500990E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5839CAF1AD7CA5F006A3909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A5D1041AE51CF7005EF760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5C059CC1AEE1BFC00483E81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5E310A61AD8C20500E81DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
