<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>#200.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>#202.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>#203.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>#224 ltc-basic_calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>#224.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>#258 ltc-add_digits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>#263 ltc-ugly-number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>#264 ltc-ugly_numbers_II.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>#273 ltc-Integer_2_English_Words.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>#7 ltc-reverse_integer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>AlTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AlgorithmPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LXY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MaxLISLength.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UVa 340 #Master-Mind Hints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>leetcode-candy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>leetcode-count-primes #204.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>leetcode-decode_ways #91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ltc#135.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ltc#155.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ltc#200.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ltc#202.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ltc#203.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ltc#204.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ltc#208.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ltc#224.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ltc#226.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>ltc#227.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ltc#91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ltc-basic_calculator_ii #227.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>temp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A50B1DBC1B1CAD3800154C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5122AF01B8D5EEB009740FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A512D8DF1B8DD14D009A8D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A516A97B1B8B77BB00809FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A52F79731A9F05A500990E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5358A341B007FC9002C9371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53FD20F1B97548000053CF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57CA4721B8DF7EC001B7FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5839CAF1AD7CA5F006A3909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58C98401B8B3E9B005A2991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A5D1041AE51CF7005EF760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5C059CC1AEE1BFC00483E81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5E19B731B38585D00F263FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5E19B7E1B3859EE00F263FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5E310A61AD8C20500E81DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5ED7F311B397761008E5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5ED7F401B3988AB008E5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8A0F97265D0621A43325E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8A19DBB49F0AD721B54A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8A923FDB10A6CDE68C622</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8A9280451252E3FCB09B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8AB53A2B7712A2AE2B549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8AE076257B6C406F70804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8AF97BE7C3C28E35BD0DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
