<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1339.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>1342.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>1647.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>1685.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>1687.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>1696.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>1697.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>1698.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>1699.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>4.2.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ACM-Practice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ACM_College_AC_1_5/17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Al V4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Al V5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Al_GreedySelection_Prac1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Al_Homework_5.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Al_Homework_Search.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>DP(Homework#1).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Dynamic Programming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Ex2-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Ex5-6 TeamQueue UVa 540.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>LK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Over_and_over(Homework#1).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TempTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>new.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A544F6A71AD0E82D0039AC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A544F6B21AD0E86E0039AC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A54A719F1AE4A3730010B152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5820C981ABC509800BCA5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58E4B351AAABFBE00485668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59366FE1A9860FF008DBC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A593670C1A9862B4008DBC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59367171A986435008DBC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59367221A9866A4008DBC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59367321A98782A008DBC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A593673D1A988FF3008DBC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59F5B331ACAA81D00CD538F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A4FB091AD27CC3006359E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A82CDE1AB6DA5600084FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5C828CA1AA1B4480038A7A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5C828DB1AA1C30E0038A7A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5CC5E5E1ACCC67C007D8E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5CFFD231A9A1D9A006E59EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D54E0B1B086613005080CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D8E5E71B044AFE000C62E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D8E5F21B04B38F000C62E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8A64EFBAA6B3313269021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8A8BE8C28E96C8BDC684D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8AA0DFD590294A7541431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C8AC7B3EF247293B569381</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
